body{
    display: flex;
    justify-content: center;
}
.main{
    background-color: white;
    width: 400px;
}
.background{
    display: flex;
    background-color: #EBECF0;
    width: 600px;
    justify-content: center;
}
.header{
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 100px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px 50px;
    margin-top: 10px;
}
.hinhanh{
    display: flex;
    justify-content: center;
}
i{
    background-color: white;
    margin: 3px;
}
.tt{
    margin-left: 5px;
    margin-top: 10px;
}

input{
    width: 90%;
}
button{
    width: 90%;
}

.btn{
    display: flex;
    justify-content: center;
}

.lienket{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .tt{
        display: block;
    }

    .dangky{
        display: none;
    }
}

@media only screen and (min-width: 768px){
    .header{
        font-size: 20px;
    }
    .tt{
        display: block;
    }

    .dangnhap{
        display: none;
    }

    button:hover{
        background-color: rgb(186, 186, 252);
        color: white;
    }
}

@media only screen and (max-width: 767px) and (min-width:700px){
    .header{
        font-size: 10px;
        color: red;
    }
    button:hover{
        color: red;
        background-color: green;
    }
    .dangky{
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width:800px){
    .flex{
        display: flex;
    }
}


